name: Feature Development

on:
  workflow_dispatch:
  push:
    branches:
      - 'feature/*'

  
permissions: read-all

jobs:
  dotnet-ci:
    permissions:
      contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: frasermolyneux/actions/dotnet-ci@main
      with:
        dotnet-version: 4.8.x
        src-folder: "src"
