name: Merge To Main

on:
  workflow_dispatch:
  push:
    branches: 
      - main

permissions:
  contents: read  # This is required for actions/checkout
  
jobs:
  dotnet-ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: frasermolyneux/actions/dotnet-ci@main
      with:
        dotnet-version: 4.8.x
        src-folder: "src"