name: PR Verify

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

permissions: {}

jobs:
  build-and-test:
    permissions:
      contents: read
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: frasermolyneux/actions/dotnet-ci@dotnet-ci/v1.3
        with:
          dotnet-version: |
            9.0.x
            10.0.x
          src-folder: "src"
