name: Pull Request Validation

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

  
permissions: {}

jobs:
  dotnet-ci:
    permissions:
      contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: frasermolyneux/actions/dotnet-ci@main
      with:
        dotnet-version: 4.8.x
        src-folder: "src"
