name: Pull Request Validation

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read  # This is required for actions/checkout
  
jobs:
  dotnet-ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: frasermolyneux/actions/dotnet-ci@main
      with:
        dotnet-version: 4.8.x
        src-folder: "src"
